.nav-section{
    background-color: #eeeff0;
    display: flex;
    justify-content: flex-end;
}

.image-dropzone{
    border: 1px solid lightgray;
}

.del-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    cursor: pointer;
    color:red;
}
